body {
    background-color: #101010;
    color: #f0f0f0;
    font-family: Lora, serif;
}

.track {
    display: flex;
    align-items: center;
    background-color: #282828;
    box-sizing: border-box;
    width: 90%;
    margin-bottom: -10px;
    border-radius: 10px;
    justify-content: space-between;
}

.track:hover {
    background-color: #303030;
}

.track-album-cover {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 3px solid #1a1a1a;
    object-fit: cover;
}

.track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    /* width: 100%; */
}

.track-title {
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.5;
}

.track-description {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 5px 0 0 0;
    line-height: 1.5;
}

audio {
    position: fixed;
    bottom: 0.5em;
    width: 100%;
}

.icon {
    width: 24px;
    height: 24px;
    transform: scale(1);
    transition: transform 100ms ease-in-out;
}

.icon:hover {
    fill: red;
    color: red;
    transform: scale(1.2);
    transition: transform 100ms ease-in-out;
}

/* 
.interaction {
} */

.interaction-box {
    display: flex;
    /* margin-left: auto; */
    padding-right: 1em;
    height: 100%;
}

.track-playback-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
