:root {
    --blank: #101010;
    --reverse: #f0f0f0;

    --primary-0: #1a1a1a;
    --primary-1: #282828;
    --primary-2: #303030;

    --highlight-1: #0f2c46;
    --highlight-2: #17344e;

    --icon: #8bc0ee;
}

body {
    color: var(--reverse);
    font-family: Lora, serif;
}

body:not(.grinch) {
    background-color: var(--blank);
}

body.grinch {
    background-image: url("data/jimcarrey.jpg");
    background-repeat: repeat;
    background-size: 44vw 16vh;
}

.track-container {
    overflow: hidden;
}

.track {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    justify-content: space-between;
}

.track:not(.playing) {
    background-color: var(--primary-1);
}

.track.playing {
    background-color: var(--highlight-1);
}

.track:not(.playing):hover {
    background-color: var(--primary-2);
    /* 303030 */
}

.track.playing:hover {
    background-color: var(--highlight-2);
    /* 303030 */
}

.track-playback-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.track-album-cover {
    /* width: px; */
    height: 4rem;
    border-radius: 10px;
    border: 3px solid var(--primary-0);
    object-fit: cover;
}

.track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5rem;
    /* width: 100%; */
}

.track-title {
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.5;
}

.track-description {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 5px 0 0 0;
    line-height: 1.5;
}

.interaction-box {
    display: flex;
    /* margin-left: auto; */
    padding-right: 1rem;
    height: 100%;
}

.icon {
    width: 24px;
    height: 24px;
    transition: transform 100ms ease-in-out;
    cursor: pointer;
}

.icon:not(:hover) {
    transform: scale(1);
    transition: transform 100ms ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
    transition: transform 100ms ease-in-out;
}

.icon:not(.active) {
    stroke: var(--reverse);
    fill: var(none);
}

.icon.active {
    stroke: var(--icon);
    fill: var(--icon);
}

audio {
    position: fixed;
    bottom: 0.5rem;
    width: 100%;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    30% {
        /* five-oh */
        transform: scale(1.8);
    }
    100% {
        transform: scale(1);
    }
}

.grow {
    animation: grow 0.25s cubic-bezier(0, 0.5, 1, 0.5);
}

@keyframes slide-up {
    from {
        transform: translateY(0);
    }
    to {
        /* move up 100% */
        transform: translateY(-100%);
    }
}

.slide-up {
    animation: slide-up 0.2s linear;
}
