body {
    background-color: #101010;
    color: #f0f0f0;
    font-family: Lora, serif;
}

.track {
    display: flex;
    align-items: center;
    background-color: #282828;
    box-sizing: border-box;
    width: 300px;
    margin-bottom: -10px;
    cursor: pointer;
    border-radius: 10px;
}

.track:hover {
    background-color: #303030;
}

.track-icon {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 3px solid #1a1a1a;
    object-fit: cover;
}

.track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.track-title {
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.5;
}

.track-description {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 5px 0 0 0;
    line-height: 1.5;
}

audio {
    position: fixed;
    bottom: 0.5em;
    width: 100%;
}

.icon {
    width: 24px;
    height: 24px;
}
