:root {
    --primary: #0f2c46;
    --secondary: #8bc0ee;
}

body {
    background-color: #101010;
    color: #f0f0f0;
    font-family: Lora, serif;
}

body.grinch {
    background-image: url("data/jimcarrey.jpg");
    background-repeat: repeat;
    background-size: 300px 100px;
}

.track {
    display: flex;
    align-items: center;
    background-color: #282828;
    box-sizing: border-box;
    width: 90%;
    margin-bottom: -10px;
    border-radius: 10px;
    justify-content: space-between;
}

.track:hover {
    background-color: #303030;
    /* 303030 */
}

.track-album-cover {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 3px solid #1a1a1a;
    object-fit: cover;
}

.track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    /* width: 100%; */
}

.track-title {
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.5;
}

.track-description {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 5px 0 0 0;
    line-height: 1.5;
}

audio {
    position: fixed;
    bottom: 0.5em;
    width: 100%;
}

.icon {
    width: 24px;
    height: 24px;
    transform: scale(1);
    transition: transform 100ms ease-in-out;
    cursor: pointer;
}

.icon:hover {
    fill: red;
    color: red;
    transform: scale(1.2);
    transition: transform 100ms ease-in-out;
}

/* 
.interaction {
} */

.interaction-box {
    display: flex;
    /* margin-left: auto; */
    padding-right: 1em;
    height: 100%;
}

.track-playback-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    30% {
        /* five-oh */
        transform: scale(1.8);
    }
    100% {
        transform: scale(1);
    }
}

/* @keyframes shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
} */

.grow {
    animation: grow 0.25s cubic-bezier(0, 0.5, 1, 0.5);
}
